{%- extends "base.html.jinja" %}
{%- block title %}{{ title }}{%- endblock %}
{%- block content %}
<div class="row">
	<div class="w-75" id="content">
		<div class="page-banner">404<span class="slug">&nbsp;hic sunt dracones</span></div>
		<div class="page-content">
			<div id="error">
				<div id="error-image">
					<a href="https://www.flickr.com/photos/vicchi/6050011619/" target="_blank"><img src="{{ url_for('static', filename='images/dragon.jpg') }}" alt="here be a dragon" /></a>
				</div>
				<div id="error-text">
					<p>Well this is all a bit embarassing ... we can't seem to find that page.</p>
					<p><a href="{{ url_for('info', id=woeid) }}">Why not try WOEID {{ woeid }} instead?</a></p>
				</div>
			</div>
		</div>
		{%- include "includes/sidebar-info.html.jinja" %}
		{%- include "includes/footer.html.jinja" %}
	</div>
	{%- include "includes/sidebar.html.jinja" %}
</div>
{%- endblock %}