{%- extends "base.html.jinja" %}
{%- block title %}{{ title }}{%- endblock %}
{%- block content %}
<div class="row h-100">
	<div id="content" class="col-sm-9 h-100">
		<div class="page-banner">about</div>
		<div class="page-content">
			<p><a href="{{ url_for('info', id=woeid) }}">A page for every WOEID</a>.</p>
			<p><a href="{{ url_for('country', iso=iso) }}">A page for every country</a> <span class="slug">(and their <a href="{{ url_for('country', iso=iso, placetype='airport') }}">airports</a>)</span>.</p>
			<p><a href="{{ url_for('placetypes') }}">A page for every placetype</a>.</p>
			<p><a href="{{ url_for('map_id', id=woeid) }}">A map for every WOEID</a>.</p>
			<p><a href="{{ url_for('search', q=name) }}">Search</a>.</p>
			<p><a href="{{ url_for('nearby_id', id=nearby) }}">Search nearby</a> <span class="slug">(and <a href="{{ url_for('nearby') }}">nearby-er still</a>)</span>.</p>
			<p><a href="{{ url_for('random_id') }}">Surprises</a>.</p>
			<p><a href="https://www.aaronland.info/weblog/2010/04/05/milkshake/#woedb" target="_blank">A blog post</a>.</p>
			<p><a href="https://thegeomob.com/podcast/episode-37" target="_blank">A podcast</a>.</p>
			<h3>The Short Version</h3>
			<p>WoePlanet is WhereOnEarth (AKA WOE) (also AKA Geoplanet) data, based on Yahoo's GeoPlanet Data download, with some, but not all, of the original hierarchy linkages reinstated, with some, but not all, centroid and polygon coordinates added in from other data sources and formatted as GeoJSON, one file per WOEID and organised by Geoplanet place type.</p>
			<h3>The Long(er) Version</h3>
			<p><em>Forking GeoPlanet one place at a time ...</em></p>
			<p>WoePlanet is an active but still experimental project to create a community driven project to maintain, update and make public in a usable from the Creative Commons licensed GeoPlanet data set.</p>
			<p>Right at the very start was a set of closely coupled software and data called GeoPlanet, developed by UK based GDC (Graphical Data Capture). The heart of GeoPlanet was a hierarchically linked set of geographic place definitions, so for any place you could determine all the language and colloquial name variants, the parent(s), the children and adjacent or neighbouring places. Each entry in GeoPlanet was assigned a unique 32-bit identifier, known as a <em>Whereonearth ID</em>, or <em>WOEID</em>. GDC was subsequently acquired by Whereonearth in 1998 with the software component rebranded as InternetLocality and the data retaining the GeoPlanet name.</p>
			<p>In 2005, Whereonearth was itself acquired by Yahoo!, initially to form part of the internal search marketing program, internally named as Panama. Four years later, as part of the Yahoo! Developer Network, a set of APIs based on InternetLocality were publicly released as GeoPlanet and Placemaker. To avoid confusion over the use of the GeoPlanet name, the data set was internally rebranded as WhereHaüs (pun fully intentional) and GeoPlanet was used solely to refer to the API. Coincident to this, a version of the data set was released publicly under a CC-BY license as GeoPlanet Data.</p>
			<p>GeoPlanet Data contained some of the hierarchical richness of the internal data, including parent and adjacent relationships, but omitted child, sibling, "belongsto" and ancestor relationships. All geospatial data, such as centroids, polygons and bounding boxes were also removed due to licensing restrictions from third party, proprietary data sources.</p>
			<p>The GeoPlanet Data set continued to be maintained and updated until June 2012 when Yahoo! removed access to the downloads with a message saying <em>We are currently making the data non-downloadable while we determine a better way to surface the data as a part of the service</em>. This remained until mid 2015 when Yahoo! announced that the YDN GeoPlanet and Placemaker APIs would be shutting down, although equivalent functionality would be available via the YQL API and the BOSS Geo APIs. The GeoPlanet API finally shut down late in 2016 and YQL was shutdown in early 2019. The BOSS Geo APIs are currently still available behind the BOSS paywall.</p>
			<p>The publicly released GeoPlanet Data dumps remain available via the <a href="https://archive.org/search.php?query=subject%3A%22geoplanet%22" target="_blank">Internet Archive</a> and several projects were released to make use of the data, such as <a href="https://github.com/twbell/GPLplanet" target="_blank">GPLplanet</a> by ex-Yahoo! Geo Director or Product Tyler Bell and <a href="https://web.archive.org/web/20180308192417/http://woe.spum.org/" target="_blank">woedb</a> by ex-Flickr Lead Engineer Aaron Straup Cope, who went on to be one of the founding team members behind Who's on First.</p>
			<p>Sadly woedb went offline in 2018 and WoePlanet is a rebooted and (hopefully) improved version of the woedb code base and data sets.</p>
		</div>
		{%- include "includes/sidebar-info.html.jinja" %}
		{%- include "includes/footer.html.jinja" %}
	</div>
	{%- include "includes/sidebar.html.jinja" %}
</div>
{%- endblock %}