[Unit]
Description=Gunicorn instance to service the WoePlanet spelunker
After=network.target

[Service]
User=gary
Group=www-data
WorkingDirectory=/var/woeplanet/woeplanet-www-spelunker/www
Environment="PATH=/var/woeplanet/venv/bin"
ExecStart=/var/woeplanet/venv/bin/gunicorn --pid run/woeplanet.pid --workers 3 --bind unix:run/woeplanet.sock -m 007 woeplanet-spelunker:app

[Install]
WantedBy=multi-user.target