    <a href="{{ url_for('home_page') }}">home</a> / <a href="{{ url_for('about_page') }}">about</a> / <a href="{{ url_for('search_page') }}">search</a> / <a href="{{ url_for('nearby_page') }}">nearby</a> / <a href="{{ url_for('random_page') }}">random</a> / <a href="{{ url_for('placetypes_page') }}">placetypes</a> / <a href="{{ url_for('countries_page') }}">countries</a> / <a href="{{ url_for('nullisland_page') }}">null island</a> / <a href="{{ url_for('credits_page') }}">credits</a> / <a href="https://github.com/woeplanet" target="_blank">code</a> / <a href="https://github.com/woeplanet-data" target="_blank">data</a>
    <br><br>
    this is a thing made by <a href="https://wwwgarygale.com/" id="gg">gary gale</a>&nbsp;&amp;&nbsp;<a href="http://www.aaronland.info/" id="asc">aaron straup cope</a>
    and kindly hosted by <a href="https://opencagedata.com/" id="oc" target="_blank">opencage</a>
