    <a href="{{ url_for('home') }}">home</a> / <a href="{{ url_for('about') }}">about</a> / <a href="{{ url_for('search') }}">search</a> / <a href="{{ url_for('nearby') }}">nearby</a> / <a href="{{ url_for('random_id') }}">random</a> / <a href="{{ url_for('placetypes') }}">placetypes</a> / <a href="{{ url_for('countries') }}">countries</a> / <a href="{{ url_for('nullisland') }}">null island</a> / <a href="{{ url_for('credits') }}">credits</a>
    <br><br>
    this is a thing made by <a href="http://www.aaronland.info/" id="asc">aaron straup cope</a>&nbsp;&amp;&nbsp;<a href="https://wwwgarygale.com/" id="gg">gary gale</a>
    and kindly hosted by <a href="https://opencagedata.com/" id="oc" target="_blank">opencage</a>
